<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <!-- Navegacion superior -->
    <nav class="navbar navbar-expand-sm bg-body-tertiary ">
        <div class="container-fluid ">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">

            <div class="d-flex justify-content-evenly container py-4">
            <ul class="navbar-nav">
              <li class="nav-item mx-5">
                <a class="nav-link active" aria-current="page" href="#">Historia</a>
              </li>
              <li class="nav-item mx-5">
                <a class="nav-link" href="#">Carta</a>
              </li>
              <li class="nav-item mx-5">
                <a class="nav-link" href="#">Equipo</a>
              </li>
              <li class="nav-item mx-5">
                <a class="nav-link" href="#">Ubicación</a>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </nav>
  
     <!-- cabecera -->
     <header class="position-relative">
        <div class="container-fluid text-white ">
            <div class="position-absolute top-50 start-0 translate-middle-y ms-4">
                <h1 class="ms-5">BIENVENIDO A YUMI RESTAURANTES</h1>
                <p class="ms-5">Calidad y sabor inigualable</p>
            </div>
        </div>
    </header>


    <main class="mt-5">
        <section>
            <h1 class="text-center">Sobre Nosotros</h1>
            <div class="mt-5 d-flex container w-75 bg-dark">
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aut magni natus consequatur quo quas quibusdam ratione, eum omnis similique architecto expedita soluta doloremque doloribus provident vitae? Mollitia, cumque illo!
                </div>
                <div>
                    <img src="logo.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </section>

        <section class="mt-5">
            <h1 class="text-center">Nuestros Locales</h1>
            <div class="mt-5 d-flex flex-wrap container-fluid  bg-dark justify-content-center">
                
                    <img src="ambiente1.jpg" class="mx-3 mt-3 img-fluid" alt="" >
                
                
                    <img src="ambiente3.jpg" class="mx-3 mt-3 img-fluid" alt="" >
                
                
                    <img src="ambiente4.jpg" class="mx-3 mt-3 img-fluid" alt="" >
                
                
                    <img src="ambiente2.jpg" class="mx-3 mt-3 img-fluid" alt="" >
            
            </div>
        </section>
    </main>



      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>  
</body>
</html>